<?xml version="1.0"?>
<configuration>
    <system.web>
        <httpHandlers>
            <add path="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" verb="*"/>
        </httpHandlers>
    </system.web>
    <!-- Required for IIS 7.0 -->
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add path="*" name="Nancy" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
        </handlers>
    </system.webServer>
</configuration>
